include:
  - project: "msd-players/msd-workflows"
    ref: "main"
    file:
      - "container/image-build-publish.yaml"
      - "helm/package-publish.yaml"

variables:
  PATH_TO_CHART: "helm-chart" # folder of root-level inside your player, that contains the helm-chart
  CHART_NAME: "rustin-brber"
  CI_MSD_CONTAINER_REGISTRY: "registry.gitlab.com/msd-players/registry/rustin_brber"



stages:
  - test
  - build_container_push # stage from msd-players/msd-workflows/container/image-build-publish.yaml
  - helm # stage from msd-players/msd-workflows/helm/package-publish.yaml

test:
  stage: test
  image: rust:latest
  script:
    - cargo test


# container build and push stage (inside from `build_container_push`-stage)
container-image-publish:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

# # helm package and publish stage (inside `helm`-stage)
helm-package-publish:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - ${PATH_TO_CHART}/**/*
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
